/* This CSS style was taken from the Module 2 Homewor*/
* {
    box-sizing: border-box;
  }
  
  /* brand color palette */
  :root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
    background-color: black;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--dark);
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }
  
  header h1 {
    color: white;
    background-color: black;
    padding: 0px 0% 0px 2%;
    margin: 50px;
    font-size: 4vw;
    line-height: 1;
    border-radius: 10%;
    text-decoration:underline;
    text-align: right;

  }
  
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
  }
  
  nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
  }
  
  nav a:last-child {
    margin-right: 0;
  }
  
  main {
    margin-top: 0px;
    margin-bottom: 45px;
  }
  
  .hero-banner {
    background-image: url("https://media4.giphy.com/media/IcZhFmufozDCij3p22/200.webp?cid=ecf05e47nraa8s7r6k5lq311sq72p2bi0lfpfv52bx1stp8b&ep=v1_gifs_related&rid=200.webp&ct=g");
    background-blend-mode: soft;
    min-height: 20vh;
    color: var(--light);
    padding: 1% 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
  }
  
  .hero-banner div {
    flex: 0 0 90%;
  }
  
  .hero-banner h3 {
    color: white;
    margin: 0;
    padding: 10px 0px;
    font-size: 2rem;
    line-height: 1.2;
    display: inline;
    background-color: black;
  }
  
  .page-wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-section {
    margin: 0px 0;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content:center;
    background-color: black;
    font-size: 1.5vw;
    font-style: italic;
    color: white;

  }
  
  .page-section > h2 {
    flex: 0 0 20%;
    text-align: center;
    padding-right: 10px;
    border-left: 10px solid var(--primary);
    font-size: 2vw;
    line-height: 1.1;
  }
  
  .page-section > div {
    flex: 0 0 77%;
  }
  
  .page-section p {
    margin-bottom: 20px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .flex-item {
    background-color: var(--primary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(33% - 1em);
    display: flex;
    align-items: center;
    margin: 0.5em;
    text-decoration:wavy;
    background-blend-mode: soft-light;
    background-size: 100%;
    transition: all 0.5s;
    font-size: 0.5rem;
    color: white;
  }
  
  
  .flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .flex-item a{
color:blueviolet;
justify-content: space-between;
padding: 5px 5px;
font-size:medium;
  }


  .flex-item div {
    background-color: var(--tertiary);
    padding: 7px 30px;
  }
  
  .flex-item h3 {
    font-size: 1.6rem;
  }
  
  .contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .contact address a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
  }
  
  .contact address a:hover {
    background-size: 100% 88%;
    color: var(--secondary);
  }
  
  /* portfolio project images */
  /* TODO: Add portfolio project images here using background images*/
  .employeeFinder {
    background-image: url("../css/images/employeeFinder.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }

  .re-Rerating {
    background-image: url("../css/images/reRating.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }

  .readMeGen {
    background-image: url("../css/images/readMeGen.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }
  
  .eTracker {
    background-image: url("../css/images/eTracker.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }
  
  .vehicleB {
    background-image: url("../css/images/vehicleB.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }
  
  .jamLaundry {
    background-image: url("../css/images/jamLaundry.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }
  
  .weather {
    background-image: url("../css/images/weather.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }

  .wordGuess {
    background-image: url("../css/images/wordGuess.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }

  .jimkConnect4 {
    background-image: url("../css/images/jimkConnect4.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }

  .playlistPersona {
    background-image: url("../css/images/playlistPersona.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }

  .kanBanBoard {
    background-image: url("../css/images/kanBanBoard.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }

  .bookSmart {
    background-image: url("../css/images/bookSmart.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }
  
  /* media queries */
  
  /* media queries for a max-width of 980px */
  @media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
      font-size: x-large;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 4vw;
    }
  }
  
  /* TODO: add media query for a max-width of 768px */
  @media screen and (max-width: 768px) {

    .flex-container{
      flex-direction: column;
      width: 100%;
    }
    .flex-item:first-child{
      min-height: 150px;
      max-height: 150px;
    }
    
 } 
