.resume-section {
    position: relative;
    font-size: large;
    padding-bottom: 0%;
    border: solid var(--primary);
    border-radius: 10%;
    text-align: center;
    margin: 0.5em;
    max-width: 100%;
    background-color: black;
    
}

.resume-section button{
background-color: var(--primary);
transition: background-color 1s ease;
border-radius: 10px;
}

.resume-section button:hover{
    background-color: blue;
    border-radius: 20px;
}


.resume-link {
    display: flex;
    background-color: #007bff;
    color: white;
    text-decoration: underline;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: justify;
}

.resume-link:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
}

.proficiency-list {
    display: flex;
    list-style-type: disc;
    padding: 2%;
    background-color: var(--primary);
    margin: 0.5em;
    max-height: 100%;
    background-blend-mode: soft-light;
    border-radius: 10%;
    transition: all 0.5s;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 0 0 50%;
    color:white;
}

.proficiency-list:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.proficiency-list li {
    padding: 2px 25px;
    font-size: 16px;
}
